// Typography
@import "typography/colors";
@import "typography/fonts";
@import "typography/icon-fonts";

// Typography custom variables
$font: $base-font-family;
$font-size: base-font-size;
$line-height: 1.2;

// Vendors
@import "vendor/reset.scss";

// Mixins
@import "modules/mixins";

// JS Plugins Styles
@import "js-plugins/cssCollapse";

// Page setting
@import "partials/body-settings";
@import "partials/headers";
@import "partials/globals";

// Components
@import "components/buttons";
@import "components/links";


// Important Final Global Rules
.hidden {
    display: none;
}