@import "cssCollapse-media-queries";

/********** PREVENT PERMANENT HIGHLIGHT ON MOBILE **********/

.cssCollapse-target,
.cssCollapse-collapseIcons,
.accordion-target,
.accordion-collapseIcons {
    -webkit-tap-highlight-color: $transparent;
}

/********** CSS COLLAPSE **********/

.cssCollapse-hiddenContent {
    @include transition(cubic-bezier(.08,.99,.46,.73), 400ms, max-height);
    overflow-y: hidden;
    max-height: 0px;

    &.is-open {
        @include transition(cubic-bezier(.08,.99,.46,.73), 600ms, max-height);
    }
}

/********** ACCORDION **********/

.accordionContainer {
    border: 1px solid $greyDdd;
}

.accordionContent {
    border-top: 1px solid $greyDdd;

    &:first-child {
        border: none;
    }
}

.accordion-target {
    padding: 10px 20px;
}

.accordion-collapseIcons {
    float: right;
}

.accordion-hiddenContent {
    @include transition(ease-in-out, 600ms, max-height);
    overflow-y: hidden;
    padding: 0 20px;
    max-height: 0px;
}

.accordion-hiddenContent.is-open {
    @include transition(ease-in-out, 600ms, max-height);
}