// Colors

$white: #FFF;
$black: #000;
$lighterBlack: #222;
$orange: #FF6600;
/*$lightOrange: #;*/
$pink: #f442c8;
$lightPink: #e2c3db;;
$green: #1caf6a;
$lightGreen: #23c67a;
$darkGreen: #0d874e;
$terquoise: #00AFD0;
$lightTerquoise: #00AAAE;
$lightBlue: #34d1be;
$darkBlue: #10a08f;
$greyDdd: #dddddd;
$transparent: rgba(0,0,0,0);
$insetShadow: rgba(0, 0, 0, 0.1);