// Buttons

.button {
    @include transition(ease, 500ms, background-color);
    display: block;
    background-color: $orange;
    border: 1px solid $orange;
    border: 0;
    font-size: em(16);
    color: $white;
    cursor: pointer;
    outline: none;
    padding: em(16);
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-tap-highlight-color: $transparent;

    &:hover {
        background-color: scale-color($orange, $lightness: 5%);
    }

    &:active {
        background-color: scale-color($orange, $lightness: -5%);
    }
}

.button[disabled], button:disabled {
    opacity: 0.30;
    filter: alpha(opacity=30);
}

.button.inline {
    display: inline-block;
    padding: 16px 32px;
    width: 45%;
}