// Links

.link {
    cursor: pointer;
    color: $orange;

    &:hover {
        text-decoration: none;
    }

    &.alternative {
        color: $greyDdd;
        text-decoration: none;
    }

    &.alternative:hover {
        text-decoration: underline;
    }
}