.intro, .introSmall {
    font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', sans-serif;
}

.intro {
    font-size: 22px;
    font-weight: 300;
    line-height: 1.4;
    margin: 20px 0;
    text-transform: uppercase;
}

.introSmall {
    font-size: 18px;
    font-weight: 100;
    color: #00AAAE;
    line-height: 1.2;
    margin: 20px 0;
}

.wrapBoxContent {
    margin: 40px 0;
}