.intro, .introSmall {
    font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', sans-serif;
}

.intro {
    font-size: em(22);
    font-weight: 300;
    line-height: 1.4;
    margin: rem(20) 0;
    text-transform: uppercase;
}

.introSmall {
    font-size: rem(18);
    font-weight: 100;
    color: $lightTerquoise;
    line-height: 1.2;
    margin: rem(20) 0;
}