@mixin transition($transition-property, $transition-time, $method) {
    -webkit-transition: $transition-property $transition-time $method;
    -moz-transition: $transition-property $transition-time $method;
    -ms-transition: $transition-property $transition-time $method;
    -o-transition: $transition-property $transition-time $method;
    transition: $transition-property $transition-time $method;
}

@mixin transform($transform-property) {
	-webkit-transform: $transform-property;
	-moz-transform: $transform-property;
	-ms-transform: $transform-property;
	-o-transform: $transform-property;
}

@function em($target, $context: $base-font) {
	@return ($target / $context) * 1em;
}

@function rem($target, $context: $base-font) {
	@return ($target / $context) * 1rem;
}

@mixin box-sizing($type: border-box) {
	-moz-box-sizing: $type;
	-webkit-box-sizing: type;
	box-sizing:$type;
}

@mixin scale-color-rgba-ie8($color, $lightness,$alpha:null){
  	scale-color: $color, $lightness;
}

%clearfix {
    *zoom: 1;

    &:before,
    &:after {
      content: " ";
      display: table;
    }

    &:after {
      clear: both;
    }
}